.image-parent {
    max-width: 7rem;
    position: relative;
    /* Add this to enable badge positioning */
}

.card-two {
    background: linear-gradient(to right, #b92b27, #1565C0);
}

.image-badge {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 10px;
}

.card-two-title {
    color: white;
    font-weight: bold;
    padding: 0.2rem;
}

.card-two-title:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}